body {
    font-family: "Cairo", sans-serif;
    background: #f8f4ff;
    direction: rtl;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

.screen { display: none; padding: 30px; }
.active { display: block; }

.title {
    font-size: 45px;
    color: #ff4f7b;
    margin-top: 60px;
    font-weight: bold;
}

.big-btn {
    padding: 20px 45px;
    font-size: 28px;
    background: #ffcc33;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 40px;
}
.big-btn:hover { background: #ffe066; }

.round-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #663399;
}

.container {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 40px;
}

.group {
    background: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 15px #ccc;
    cursor: pointer;
    transition: 0.3s;
}

.group:hover { transform: scale(1.1); }

.item-img {
    font-size: 80px;
    display: inline-block;
    margin: 5px;
}

.result-msg {
    font-size: 38px;
    margin-top: 40px;
    color: #8844dd;
}

/* تأثير وميض عند الاختيار */
@keyframes flash-red {
    0% { background-color: #f8f4ff; transform: translateX(0); }
    25% { background-color: #ff4d4d; transform: translateX(-10px); }
    50% { background-color: #f8f4ff; transform: translateX(10px); }
    75% { background-color: #ff4d4d; transform: translateX(-10px); }
    100% { background-color: #f8f4ff; transform: translateX(0); }
}

@keyframes flash-green {
    0% { background-color: #f8f4ff; }
    50% { background-color: #4caf50; }
    100% { background-color: #f8f4ff; }
}

.flash-red { animation: flash-red 0.5s; }
.flash-green { animation: flash-green 0.5s; }
